@import "bootstrap-sprockets";
@import "bootstrap";
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #888;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
header {
  background-color: #fff;
  color: #fff;
  position: absolute;
  height: 60px;
  top: 100;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  padding-left: 15px;
}
#logo {
  float: left;
  margin-right: 6px;
  font-size: 2em;
  color: #fff;
  
  letter-spacing: -1px;
  padding-top: 2px;
  font-weight: bold;
}
#logo:hover {
  color: red;
  text-decoration: none;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
input.btn.btn-primary{
  width: 200px;
  height: 40px;
  margin-left: 180px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;}
.gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
.users.follow {
  padding: 0;
}
table.table.table-bordered{
  width: 800px;
  height: 400px;
  margin-left: 180px;
}